HELM_EMAIL=your_email@example.com
HELM_PASSWORD=your_password
RITHUM_PASSWORD=your_rithum_password
AMAZON_EMAIL=your_amazon_email@example.com
AMAZON_PASSWORD=your_amazon_password
HEADLESS=false
DEBUG=false
